.navbar{
    display: flex;
    flex-direction: row;
    background: #fff;
    width: 100%;
    padding-bottom: 1.8rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 70px;
    border-bottom: 1px solid rgba(0%, 0%, 0%, 10%);
}

.navbar__first-section{
    display: flex;
    flex-direction: row;
}

.navbar__menu{
    order: -1;
    margin-right: 1rem;

}

.navbar__links{
    display: none;
}

.navbar__product-cart{
    position: absolute;
    right: 25px;   
}

#navbar__product-cart-avatar{
    margin-left: 1.2rem;

}

.navbar__product-cart img{
    width: 24px;
    height: 24px;
}   

.navbar__menu-container{
    position: absolute;
}

.navbar__menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    position: absolute;
    left: 0;
    top: 54px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;

}

.navbar__menu-container p,
.navbar__menu-container a{
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 1rem;
    font-size: 20px;
    text-decoration: none;
    outline: none;
    color: var(--color-p);
    cursor: pointer;
    font-family: var(--font-family);
    text-align: center;
}

.navbar__menu-container p:hover{
    color: black;
    border-bottom: 3px solid hsl(26, 100%, 55%);  
}

.navbar__links p :hover{
    color: black;
    border-bottom: 3px solid hsl(26, 100%, 55%);
}

.bottom_line{
    border-bottom: 1px solid hsl(0, 0%, 0%, 0%);
    
}

#navbar__product-cart-avatar{
    border-radius: 50%;
    
}   

#navbar__product-cart-cart,
#navbar__product-cart-avatar{
    cursor: pointer;
    
}

#navbar__product-cart-avatar:hover{
    border: 3px solid hsl(26, 100%, 55%);
}

#navbar__product-cart-cart:hover{
    transform: scale(1.2);
}

@media (min-width: 550px){
    .navbar{
        height: 90px;
    }
    .navbar__product-cart img{
        width: 35px;
        height: 35px;
    }
}


@media (min-width: 900px){

    .navbar{
        height: 100px;
    }
    .navbar__links{
        display: block;
        display: flex;
        flex-direction: row;
        font-size: 20px;
        margin-left: 3rem;
    }

    .navbar__links p,
    .navbar__links a{
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 1rem;
        font-size: 20px;
        text-decoration: none;
        outline: none;
        color: var(--color-p);
        cursor: pointer;
        font-family: var(--font-family);
        text-align: center;
    }

    #navbar__product-cart-avatar{
        width: 50px;
        height: 50px;
        margin-left: 3.5rem;
    }

    .navbar__menu{
        display: none;
    }
    
    .navbar__product-cart{
        display: flex;
        align-items: center;

    }
}   
