

.productsImages-container_bigImage{
    width: 100%;
    height: 90vw;
    position: relative;
    
}

.productsImages-container_bigImage img{
    width: 100%;
    height: 100%;
    
}

.productsImages-container_smallImages{
    display: none;
}

.productsImages-container_arrowLeft button{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    border: none;
    outline: none;
    position: absolute;
    top: 42%;
    left: 15px;
}

.productsImages-container_arrowLeft img{
    margin: auto;
    width: 30%;
    height: 30%;
    cursor: pointer;
}
.productsImages-container_arrowRight button{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    position: absolute;
    top:42%;
    right: 15px;
    border: none;
    outline: none;
}

.productsImages-container_arrowRight img{
    margin: auto;
    width: 30%;
    height: 30%;
    cursor: pointer;
}










@media (min-width: 900px){

    .productsImages-container{
        margin-right: 2rem;
        width: 28%;
    }

    .productsImages-container_bigImage{
        width: 100%;
        height: 100%;
    }
    #bigImageId{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
   
    

    .productsImages-container_smallImages{
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
    .productsImages-container_smallImages-image{
        width: 100px;
        height: 100px;
        border-radius: 15px;
    }
    
    .productsImages-container_smallImages-image:hover{
        border: 2px solid  hsl(26, 100%, 55%)
    }
    .productsImages-container_smallImages-image img{
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }

    .productsImages-container_smallImages-image img:hover{
        cursor: pointer;
        opacity: 0.4
    }
}